@page
@model PublikoWebApp.Pages.LoggedIn.MyStartModel

@{
    int newPageOrder = Model.Pages.Count + 1;
}


<div hidden style="height:80px;background-color:brown"></div>

<!--Banner image-->
<div style="background-color: cornflowerblue">
    <img hidden src="/assets/img/banner.jpg" alt="Banner-image" />
    <div class="container p-0 overflow-hidden" style="height:200px;position:relative">
        <img class="img-fluid" src="/assets/img/banner.jpg" width="100%" alt="Banner-image" />

        <!---->
        <div class="">
            <a href="#" style="position:absolute;bottom:10px;right:10px;color:white">[+]</a>
        </div>
    </div>
</div>

<!--User menu bar-->
<div style="background-color:rgb(220,220,220)">
    <div class="bg-dark">
        <nav class="container navbar">
            <div class="float-left">

                <a class="pr-3 text-white" href="#" onclick="ChangePage('myposts')">My Posts</a>

                @if (Model.Pages.Count > 0)
                {
                    foreach (var p in Model.Pages.OrderBy(p => p.PageOrder).ToList())
                    {
                        <a class="pr-3 text-white" href="#" onclick="ChangePage('@p.PageTitle')">@p.PageTitle</a>
                    }

                }

                @if (Model.Pages.Count < 5)
                {
                    <a class="pr-3 text-white" asp-page="CreatePage" asp-route-pages="@newPageOrder">[+]</a>
                }
                <!--Provisional counter-->
                <a hidden class="pr-3 text-white">Number of visitors: @Model.ViewsNumber</a>
            </div>
        </nav>
    </div>

    <div class="container pl-5 pr-5" style="background-color:rgb(235,235,235)">
        <div class="flippers" id="myposts">
            <h2 class="pt-3">My Articles</h2>

            <div class="btn btn-primary font-weight-bold">
                <a class="text-white" asp-page="CreatePost">New Post</a>
            </div>

            <hr />

            @if (Model.Posts.Count > 0)
            {
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm"></div>
                    <div class="col-lg-10 col-md-11 col-sm-12 overflow-hidden">
                        @foreach (var post in Model.Posts.OrderByDescending(p => p.PostDateCreated).ToList())
                        {
                            <h3>@post.PostTitle</h3>
                            <span class="text-black-50 font-italic" style="font-size:smaller">Updated: @post.PostDateModified.ToString("M")</span>
                            <hr />

                            <div class="pb-4">
                                @Html.Raw(post.PostContent)
                            </div>

                            <div class="d-flex justify-content-between">
                                <a hidden class="text-black-50" asp-page="EditPost" asp-route-id="@post.PostID">[Edit]</a>
                                <div>
                                    <a class="text-black-50" asp-page="EditPost" asp-route-id="@post.PostID">[Edit]</a>
                                    <a class="text-danger" href="#" onclick="DeletePost('@post.PostID')">[Delete]</a>
                                </div>
                                <span>By: @User.Identity.Name</span>
                            </div>


                            <hr style="border:solid;color:rgba(1,1,1,0.5)" />
                        }
                    </div>
                </div>
            }

        </div>

        @foreach (var p in Model.Pages.OrderBy(p => p.PageOrder).ToList())
        {
            <div hidden class="flippers overflow-hidden" id="@p.PageTitle">
                <h2 class="pt-3">@p.PageTitle</h2>

                <div>
                    <a class="text-black-50" asp-page="EditPage" asp-route-id="@p.PageID">[Edit Page]</a>
                    <a class="text-danger" href="#" onclick="DeletePage('@p.PageID')">[Delete Page]</a>
                </div>

                <hr />

                <div class="container p-lg-5 p-md-3 p-sm-1">
                    @Html.Raw(p.PageBody)
                </div>

                <div class="d-flex justify-content-between">
                    <a class="text-black-50 font-italic" style="font-size:smaller">Updated: @p.PageDateUpdated.ToString("M")</a>
                    <span>By: @User.Identity.Name</span>
                </div>
            </div>
        }

        <div style=""></div>
    </div>
</div>

<script type="text/javascript">

    function DeletePage(id) {

        let response = confirm("Are you sure that you want to delete this Page?")

        /*
         * Function partially working. It deletes the page but Ajax return error.
         * I am refreshing the page by doing it inside the error section.
         */
        if (response) {
            console.log("Inside IF on DeletePage()")
            $.ajax({
                type: "GET",
                url: "https://localhost:5001/api/deletepage/" + id,
                //contentType: "application/json; charset=utf-8",
                //dataType: "jsonp",
                success: function (result) {
                    console.log("success");
                    window.location.reload(true);
                }, //End of AJAX Success function

                //failure: function (data) {
                //    console.log("Failure: " + data.responseText);
                //    window.location.reload(true);
                //}, //End of AJAX failure function
                error: function (xhr) {
                    console.log("Error: MyStart->-JAVASCRIPT:DeletePage(id)->ajax->error");
                    window.location.reload(true);
                } //End of AJAX error function

            });
        }
    }


    function DeletePost(id) {

        let response = confirm("Are you sure that you want to delete this Post?")

        /*
         * Function partially working. It deletes the page but Ajax return error.
         * I am refreshing the page by doing it inside the error section.
         */
        if (response) {
            console.log("Inside IF on DeletePost()")
            $.ajax({
                type: "GET",
                url: "https://localhost:5001/api/deletepost/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "jsonp",
                success: function (data) {
                    console.log("success" + data.responseText);
                    window.location.reload(true);
                }, //End of AJAX Success function

                failure: function (data) {
                    console.log("Failure: " + data.responseText);
                    window.location.reload(true);
                }, //End of AJAX failure function
                error: function (data) {
                    console.log("Error: MyStart->-JAVASCRIPT:DeletePost(id)->ajax->error");
                    window.location.reload(true);
                } //End of AJAX error function

            });
        }
    }


    function ChangePage(id) {
        let divElements = document.getElementsByClassName("flippers");

        for (var i = 0; i < divElements.length; i++) {
            if (divElements[i].id == id) {
                divElements[i].hidden = false;
            } else {
                divElements[i].hidden = true;
            }
        }
    }

</script>