@page
@model PublikoWebApp.Pages.LoggedIn.MyStartModel
@using System.Diagnostics;
@using System.Threading;

@{
}


<div hidden style="height:80px;background-color:brown"></div>

<!--Banner image-->
<div>
    <img hidden src="#" alt="Banner-image" />
    <div style="height:200px;background-color:cornflowerblue"></div>
</div>

<!--User menu bar-->
<div class="bg-dark">
    <nav class="container navbar">
        <div class="float-left">
            
            <a class="pr-3 text-white" href="#" onclick="ChangePage('myposts')">My Posts</a>
            
            @if (Model.Pages.Count > 0)
            {
                foreach (var p in Model.Pages.OrderBy(p => p.PageOrder).ToList())
                {
                    <a class="pr-3 text-white" href="#" onclick="ChangePage('@p.PageTitle')"> @p.PageTitle </a>
                }

            }

            @if (Model.Pages.Count < 5)
            {
                <a class="pr-3 text-white" asp-page="CreatePage">[+]</a>
            }
        </div>
    </nav>
</div>

<div class="container">
    <div class="flippers" id="myposts">
        <h2 class="pt-3">My Posts</h2>

        <div class="btn btn-primary font-weight-bold">
            <a class="text-white" asp-page="CreatePost">New Post</a>
        </div>

        <hr />

        @if (Model.Posts.Count > 0)
        {
            <div class="row">
                <div class="col-2"></div>
                <div class="col-10">
                    @foreach (var post in Model.Posts.OrderByDescending(p => p.PostDateCreated).ToList())
                    {
                        <h3>@post.PostTitle</h3>
                        <div class="text-black-50"><span style="font-size:smaller">Created: </span><span style="font-size:smaller;font-style:italic">@post.PostDateCreated</span></div>
                        <hr />
                        
                        <div class="pb-4">
                            @foreach (var paragraph in post.PostContent.Split('\n'))
                            {
                                <p>
                                    @paragraph
                                </p>
                            }
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <a class="text-black-50" href="#">[Edit]</a>
                            <span>By: @User.Identity.Name</span>
                        </div>

                        <hr style="border:solid;color:rgba(1,1,1,0.5)" />
                    }
                </div>
            </div>
        }

    </div>

    @foreach (var p in Model.Pages.OrderBy(p => p.PageOrder).ToList())
    {
        <div hidden class="flippers" id="@p.PageTitle">
            <h2 class="pt-3">@p.PageTitle</h2><a class="text-black-50" style="font-size:smaller" asp-page="EditPage" asp-route-id="@p.PageID">[Edit Page]</a>

            <hr />

            @foreach (var paragraph in p.PageBody.Split('\n'))
            {
                <p>
                    @paragraph
                </p>
            }

            <p align="right">
                By: @User.Identity.Name
            </p>
        </div>
    }

    <div class="pb-5"></div>
</div>

<script type="text/javascript">

    function ChangePage(id) {
        let divElements = document.getElementsByClassName("flippers");

        for (var i = 0; i < divElements.length; i++) {
            if (divElements[i].id == id) {
                divElements[i].hidden = false;
            } else {
                divElements[i].hidden = true;
            }
        }
    }

</script>




@*<div>
    @if (User.IsInRole("Super user") || User.IsInRole("Admin") || User.IsInRole("Owner"))
    {
        <a asp-action="Edit" asp-route-id="@Model.BulletinID" class="btn btn-primary font-weight-bold">Redigera</a>
    }
    <a asp-action="Index" class="btn btn-secondary font-weight-bold">Tillbaka till Listan</a>
</div>*@




<!--<div class="container d-flex" id="wrapper">-->
<!-- Sidebar-->
<!--<div class="border-end bg-white" id="sidebar-wrapper">
    <div hidden class="sidebar-heading border-bottom bg-light">Menu</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" onclick="MenuSelect('myPostsID')">My Posts</a>
        <a hidden class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" onclick="MenuSelect('editID')">Edit</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" onclick="MenuSelect('statisticsID')">Statistics</a>
    </div>
</div>-->
<!-- Page content wrapper-->
<!--<div id="page-content-wrapper">-->
<!-- Page content-->
<!--<div hidden class="container-fluid">
    <h1 class="mt-4">Simple Sidebar</h1>
    <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
    <p>
        Make sure to keep all page content within the
        <code>#page-content-wrapper</code>
        . The top navbar is optional, and just for demonstration. Just create an element with the
        <code>#sidebarToggle</code>
        ID which will toggle the menu when clicked.
    </p>
</div>-->
<!--Welcome-->
<!--<div id="welcomeID" class="container">
    <h1>Welcome to your site!</h1>
</div>-->
<!--My Pages-->
<!--<div id="myPostsID" hidden>
    <partial name="_MyPosts" />
</div>-->
<!--Edit-->
<!--<div id="editID" class="container" hidden>
    <h1>Edit</h1>
</div>-->
<!--Statistics-->
<!--<div id="statisticsID" class="container" hidden>
            <h1>Statistics</h1>
        </div>

    </div>
</div>-->
<!-- Core theme JS-->
<!--<script src="js/scripts_simple_side_bar.js"></script>

<script type="text/javascript">
    let IDs = ['welcomeID', 'myPostsID', 'editID', 'statisticsID'];

    function MenuSelect(id) {
        for (let i = 0; i < IDs.length; i++) {
            let IDtag = document.getElementById(IDs[i])
            if (IDtag.id != id) {
                IDtag.hidden = true;
            }
            else {
                IDtag.hidden = false;
            }
        }
    }
</script>-->
