@page
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@inject PublikoWebApp.Services.ITokenManager _tokenManager;
@inject UserManager<PublikoUser> _userManager;
@model PublikoWebApp.Pages.LoggedIn.MyStartModel

@{
    int newPageOrder = Model.Pages.Count + 1;
    string token = $"Bearer {await _tokenManager.GenerateJwtToken(await _userManager.GetUserAsync(User))}";
}


<div hidden style="height:80px;background-color:brown"></div>

<!--Banner image-->
<div style="background-color: cornflowerblue">
    <img hidden src="/assets/img/banner.jpg" alt="Banner-image" />
    <div class="container p-0 overflow-hidden" style="height:200px;position:relative">
        <img id="bannerImage" style="background-image: url('/assets/img/banner.jpg'); width: 1140px; height: 800px; background-position-y: 0px" />
    </div>
</div>

<!--User menu bar-->
<div style="background-color:rgb(220,220,220)">
    <div class="bg-dark">
        <nav class="container navbar">
            <div class="float-left">

                <a class="pr-3 text-white" href="#" onclick="ChangePage('myposts')">My Posts</a>

                @if (Model.Pages.Count > 0)
                {
                    foreach (var p in Model.Pages.OrderBy(p => p.PageOrder).ToList())
                    {
                        <a class="pr-3 text-white" href="#" onclick="ChangePage('@p.PageTitle')">@p.PageTitle</a>
                    }

                }

                @if (Model.Pages.Count < 5)
                {
                    <a class="pr-3 text-white" asp-page="CreatePage" asp-route-pages="@newPageOrder">[+]</a>
                }
                <!--Provisional counter-->
                <a hidden class="pr-3 text-white">Number of visitors: @Model.ViewsNumber</a>
            </div>
        </nav>
    </div>

    <div class="container pl-5 pr-5" style="background-color:rgb(235,235,235)">
        <div class="flippers" id="myposts">
            <h2 class="pt-3">My Articles</h2>

            <div class="btn btn-primary font-weight-bold">
                <a class="text-white" asp-page="CreatePost">New Post</a>
            </div>

            <hr />

            @if (Model.Posts.Count > 0)
            {
                <div class="row">
                    <div class="col-lg-2 col-md-1 col-sm"></div>
                    <div class="col-lg-10 col-md-11 col-sm-12 overflow-hidden">
                        @foreach (var post in Model.Posts.OrderByDescending(p => p.PostDateCreated).ToList())
                        {
                            <h3>@post.PostTitle</h3>
                            <span class="text-black-50 font-italic" style="font-size:smaller">Updated: @post.PostDateModified.ToString("M")</span>
                            <hr />

                            <div class="pb-4">
                                @Html.Raw(post.PostContent)
                            </div>

                            <div class="d-flex justify-content-between">
                                <a hidden class="text-black-50" asp-page="EditPost" asp-route-postId="@post.PostID">[Edit]</a>
                                <div>
                                    <a class="text-black-50" asp-page="EditPost" asp-route-postId="@post.PostID">[Edit]</a>
                                    <a class="text-danger" href="#" onclick="DeletePost('@post.PostID')">[Delete]</a>
                                </div>
                                <span>By: @User.Identity.Name</span>
                            </div>


                            <hr style="border:solid;color:rgba(1,1,1,0.5)" />
                        }
                    </div>
                </div>
            }

        </div>

        @foreach (var p in Model.Pages.OrderBy(p => p.PageOrder).ToList())
        {
            <div hidden class="flippers overflow-hidden" id="@p.PageTitle">
                <h2 class="pt-3">@p.PageTitle</h2>

                <div>
                    <a class="text-black-50" asp-page="EditPage" asp-route-pageId="@p.PageID">[Edit Page]</a>
                    <a class="text-danger" href="#" onclick="DeletePage('@p.PageID')">[Delete Page]</a>
                </div>

                <hr />

                <div class="container p-lg-5 p-md-3 p-sm-1">
                    @Html.Raw(p.PageBody)
                </div>

                <div class="d-flex justify-content-between">
                    <a class="text-black-50 font-italic" style="font-size:smaller">Updated: @p.PageDateUpdated</a> <!--DateTime.ToString("M")-->
                    <span>By: @User.Identity.Name</span>
                </div>
            </div>
        }

        <div style=""></div>
    </div>
</div>

<script type="text/javascript">

    let PublikoAPIUrl = "@Configuration["APIAddresses:PublikoAPI"]";
    let banner = document.getElementById("bannerImage");

    async function DeletePage(id) {

        let response = confirm("Are you sure that you want to delete this Page?")

        if (response) {
            let response = await fetch(PublikoAPIUrl + "/api/pages/" + id, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json;charset=utf-8",
                    "Authorization": "@token"
                }
            });

            if (response.ok) {
                console.log("RESPONSE: " + response.statusText);
                window.location.reload(true);
            }
        }
    }


    async function DeletePost(id) {

        let response = confirm("Are you sure that you want to delete this Post?")

        if (response) {
            let response = await fetch(PublikoAPIUrl + "/api/posts/" + id, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json;charset=utf-8",
                    "Authorization": "@token"
                }
            });

            if (response.ok) {
                console.log("RESPONSE: " + response.statusText);
                window.location.reload(true);
            }
        }
    }


    function ChangePage(id) {
        let divElements = document.getElementsByClassName("flippers");

        for (var i = 0; i < divElements.length; i++) {
            if (divElements[i].id == id) {
                divElements[i].hidden = false;
            } else {
                divElements[i].hidden = true;
            }
        }
    }

    class credentials {
        constructor(user, pass) {
            this.userName = user;
            this.password = pass;
        }
    }

</script>